
.skills-container {
    margin: 3rem 0rem 0rem 0rem;
    padding: 2rem 1.4rem 2rem 1.4rem;
    min-height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    .container{
      width: 100%;
      height: max-content;
      display: grid;
      gap: 1rem;
    }
  
    .upper-container{
      margin-bottom: 1.5rem;
    }
    
    .lower-container{
      margin-top: 1.5rem;
      
    }

}