
//paras
$para-mobile: 1rem;
$para-tablet: 1.1rem;
$para-desktop: 1.4rem;


//Normal Text
$text: 1rem;


//headings
$heading-1: 3rem;
$heading-2: 2rem;
$heading-3: 1.6rem;
$sub-heading-1: 1.4rem;
$sub-heading-2: 1.2rem;

//svg width height
$mobile-width-height: 2rem;
$desktok-width-height: 2.2rem; 
$desktok-width-height-2: 3.5rem; 

//fonts
$heading: #c49770;